<div class="kanban-card">
  <div class="menu-icon" (click)="eliminarTarea()">
  </div>
  <div class="title">{{tituloDeTarea}}</div>  
  <button class ="btnShow" (click)="abrir()">
</button>
</div>
@if(cerrarPopUp === true){
  <div class="pop-up-form">
    <div class="popup">
      <app-movement-controller></app-movement-controller>
      <app-tarea-visible-expandible [tituloTarea]="tituloDeTarea" [descripcion]="descripcion" (valores)="recibirDatos($event)"
      (cerrar)="abrirPop($event)"
      ></app-tarea-visible-expandible>
    </div>
  </div>
}