<div class="container">
  <div class="header">
    {{title}}
    <div class="deleteControl">
      <button class="btnEliminar" (click)="eliminarFase()">X</button>
    </div>
  </div>
  <div class="tasks-container">
    <ng-container *ngIf="descTareas.length != 0">
      @for (item of descTareas; track $index) {
        <ng-container>
          <app-tarea-visible-layout [tituloDeTarea]="item.nameTarea" [descripcion]="item.descripcion"
                                    (eliminar)="eliminarTareas($index)">
          </app-tarea-visible-layout>
        </ng-container>
      }
    </ng-container>
    <ng-container *ngIf="agregarTar">
      <div class="pop-up-form">
        <div class="popup">
          <app-homework-form (cancelarBoton)="cancelarTarea($event)" (enviarDatos)="recibirDatos($event)"></app-homework-form>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="addControl">
    <button class="btnAgregar" (click)="agregarT()">Nuevo</button>
  </div>     
</div>
