
.container {
  width: 380px;
  height: 700px;
  background-color: #ffe0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 30px;
  background-color: #f44336;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 0 15px;
  box-sizing: border-box;
  border-bottom: 2px solid #e74c3c;
}

.btnEliminar {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.btnEliminar:hover {
  color: #ff7675;
}

.tasks-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
}

.addControl {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.btnAgregar {
  height: 40px;
  width: 100px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btnAgregar:hover {
  background-color: #219150;
}

.pop-up-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 23%;
  height: auto;
  position: relative;
}

.popup h2 {
  margin-top: 0;
}

.popup .btnContainerDanger {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup button {
  padding: 10px;
  border-radius: 5px;
}

.popup .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.popup .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
